<div class="chat-container">
    <h2>メッセージユーザー一覧</h2>
 <table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>ユーザー名</th>
      <th>チャットリンク</th>
    </tr>
  </thead>
  <tbody>
    <% @dm_users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_photo, class: "post-profile-icon" %></td>
        <td><%= link_to user.name, user_path(user) %></td>
        <td>
          <% room_id = user.entries.find { |e| @room_ids.include?(e.room_id) }.room_id %>
          <a href="/rooms/<%= room_id %>" class="btn btn-primary btn-small">チャットへ</a>
        </td>
      </tr>
    <% end %>
  </tbody>
 </table>

 <div class="pagination">
  <%= paginate @dm_users %>
 </div>
</div>
