<%= form_with url: search_path, method: :get do |f| %>
  <div class="dropdown">
    <button class="btn btn-outline-secondary my-2 my-sm-0 dropbtn" type="button">
      <i class="fa-solid fa-caret-down"></i>
    </button>
      <div class="dropdown-content">
        <%= f.select :range, options_for_select([["ユーザー", 'User'], ["投稿", 'Post'],["間取り", 'Genre']]), {}, { class: 'dropdown-select form-control' } %>
      </div>
  </div>
<%= f.text_field :word, class: "form-control mr-sm-2", placeholder: "検索" %>
<%= f.submit "検索", class: "btn btn-outline-secondary my-2 my-sm-0" %>
<%#= button_tag type: 'submit', class: "btn btn-outline-secondary my-2 my-sm-0" do %>
<%# end %>
<% end %>