/* サイドバーのスタイル */
aside {
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  margin-bottom: 20px;
}
/* メインコンテンツのスタイル */
main {
  padding: 15px;
}
/* アイテムのスタイル */
.item {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.3s ease;
}
.item:hover {
  transform: scale(1.05);
}
/* カード画像のスタイル */
.card-img-top {
  width: 100%;
  height: auto;
}
/* レスポンシブ対応 */
@media (max-width: 767px) {
  .item {
    margin: 10px auto;
  }
  aside {
    margin-bottom: 20px;
  }
  main {
    margin-top: 20px;
  }
}

/* 追加されたクラスのスタイル */
.post-profile-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.card-wrap {
  margin: 20px 0px;
}

.no-text-decoration:hover {
  text-decoration: none;
}

.black-color {
  color: #262626;
}

.parts {
  margin: 12px 0;
}

.post-time {
  margin: 0;
  color: #999;
  font-size: 10px;
}

.post-sub-text {
  text-decoration: none;
  color: #262626;
}

.edit-delete-icons {
  display: flex;
  align-items: center;
}

.icon-link {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.delete-post-icon,
.edit-post-icon {
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: 20px !important;
  color: #262626;
  font-size: 20px;
}
