<% @post.each do |post| %>
  <!--<div>-->
  <!--  <p>ユーザーのアイコン</p><p>ユーザー名</p>-->
  <!--</div>-->
 <% if @post.image.attached? %>
  <% @post.image.each do |image| %>
    <%= image_tag image.variant(resize: '500x500') %>
  <% end %>
<% end %>
<% end %>