.main {
  max-width: 960px;
  margin: 0 auto;
  width: 90%;
  padding: 100px 75px 100px;
  display: block;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
}

.devise-card {
  border: none;
}

.form-wrap{
  max-width: 400px;
  width: 100%;
  margin: 50px auto;
}

.logo-img {
  background-image: image-url("MyTerior_Header2.png");
  background-repeat: no-repeat;
  height: 56px;
  width: 100%;
  background-size: contain;
  background-position: center;
}

.form-control {
  border: 1px solid #dcdfe6;
  font-size: inherit;
}

.devise-link {
  text-align: center;
  margin: 16px 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

/* 追加部分 */
.card-body {
  background-color: #f8f9fa; /* グレーの背景色 */
  padding: 1rem;
  border-top: 1px solid #e0e0e0; /* 上部の境界線 */
}

.card-body .card-text {
  color: #6c757d; /* グレーのテキスト色 */
}

@media screen and (max-width: 768px) {
  .main {
    padding: 75px 0;
  }
  .devise-card {
    background-color: #fafafa;
  }
  
  .res-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* 追加部分 */
  .card-body {
    padding: 0.75rem;
  }
  .card-body .card-text {
    font-size: 0.75rem; /* 小さめのフォントサイズ */
  }
}