.main {
  max-width: 960px;
  margin: 0 auto;
  width: 90%;
  padding: 100px 75px 100px;
  display: block;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
}

.devise-card {
  border: none;
}

.form-wrap{
  max-width: 400px;
  width: 100%;
  margin: 50px auto;
}

.logo-img {
  background-image: image-url("MyTerior_Header2.png");
  background-repeat: no-repeat;
  height: 56px;
  width: 100%;
  background-size: contain;
  background-position: center;
}

.form-control {
  border: 1px solid #dcdfe6;
  font-size: inherit;
}

.devise-link {
  text-align: center;
  margin: 16px 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container_about{
  order: 2;
  display: flex;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}

.about_title{
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 48px;
}

.about_sub_title{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

.a_content_about{
  line-height: 2.2;
}

.content_about_notice{
  color: #818181;
  font-size: .8em;
  line-height: 1.8;
  margin-top: 3em;
}

// .container_term{
//   order: 2;
//   display: flex;
//   max-width: 2000px;
//   margin-left: auto;
//   margin-right: auto;
// }

// .term_title{
//   font-size: 26px;
//   font-weight: 900;
//   margin-bottom: 48px;
// }

// .a_content_term{
//   line-height: 2.2;
// }

// .term_sub_title{
//   font-size: 20px;
//   font-weight: 500;
//   margin-bottom: 30px;
// }

footer {
  margin-top: auto;
}

/* 追加部分 */
.card-body {
  background-color: #f8f9fa; /* グレーの背景色 */
  padding: 1rem;
  border-top: 1px solid #e0e0e0; /* 上部の境界線 */
}

.card-body .card-text {
  color: #6c757d; /* グレーのテキスト色 */
}

.follow-btn{
  padding: 1rem;
}

#flash-container {
  position: absolute;
  z-index: 1000; /* 必要に応じて調整 */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flash {
  padding: 15px 30px;
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 例: フラッシュメッセージの種類ごとに色を変える */
.flash.notice {
  // border-color: #4caf50;
  // background-color: #dff0d8;
}

.flash.alert {
  // border-color: #f44336;
  // background-color: #f8d7da;
}

// 新しい順、古い順、いいねの多い順のボタンの設定
.sort-buttons{
  flex-shrink: 0;
  margin-right: 20px;
  margin-left: 10px;
}

.sort-button {
  display: flex;
  padding: 10px 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.sort-button:hover {
  background-color: #e0e0e0;
  color: #000;
}

.sort-button.active {
  background-color: #ccc;
  color: #000;
}


@media screen and (max-width: 768px) {
  .main {
    padding: 75px 0;
  }
  .devise-card {
    background-color: #fafafa;
  }
  
  .res-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* 追加部分 */
  .card-body {
    padding: 0.75rem;
  }
  .card-body .card-text {
    font-size: 0.75rem; /* 小さめのフォントサイズ */
  }
}
